.mainPage {
  background-color: lightskyblue;
  font-family: 'Bubblegum Sans', cursive;
  color: white;
  margin: auto;
}

.container {
  margin: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.rulesList {
  list-style: none;
  font-size: 25px;
  text-shadow: -1px 0 palevioletred, 0 1px palevioletred, 1px 0 palevioletred, 0 -1px palevioletred;
}

h1 {
  text-align: center;
  font-size: 75px;
  margin: -10px;
  text-shadow: -1px 0 palevioletred, 0 1px palevioletred, 1px 0 palevioletred, 0 -1px palevioletred;
}

h2 {
  font-size: 40px;
  text-shadow: -1px 0 palevioletred, 0 1px palevioletred, 1px 0 palevioletred, 0 -1px palevioletred;
}

p {
  font-size: 25px;
  text-shadow: -1px 0 palevioletred, 0 1px palevioletred, 1px 0 palevioletred, 0 -1px palevioletred;
}

#start {
  background-color: palevioletred;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 30px;
  padding: 14px 40px;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  transition-duration: 0.4s;
}

#start:hover {
  background-color: pink;
}

.gamePage {
  background-image: url('https://webstockreview.net/images/clipart-candy-borders-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightskyblue;
  margin: auto;
}

.gameHeader {
  font-family: 'Bubblegum Sans', cursive;
  color: white;
  text-shadow: -1px 0 palevioletred, 0 1px palevioletred, 1px 0 palevioletred, 0 -1px palevioletred;
  margin: 30px;
}

.returnHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#game-board {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px;
  justify-content: center;
  margin: auto;
  position: relative;
}

.space {
  background-color: #d9d9d9;
  border: 2px solid black;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.playerOne {
  width: 55px;
  height: 55px;
  background-image: url('./candy-land-piece-1.png');
  background-size: contain;
  position: relative;
}

.playerTwo {
  width: 45px;
  height: 45px;
  background-image: url('https://clipartcraft.com/images/candy-clipart-swirl.png');
  background-size: contain;
  position: relative;
  margin: 5px;
}

.funtions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#draw-card {
  background-color: palevioletred;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 20px;
  padding: 6px 18px;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  transition-duration: 0.4s;
}

#draw-card:hover {
  background-color: pink;
}

#resetButton {
  background-color: palevioletred;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 15px;
  padding: 6px 18px;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  transition-duration: 0.4s;
  margin-bottom: 100px;
}

#resetButton:hover {
  background-color: pink;
}

h3 {
  font-family: 'Bubblegum Sans', cursive;
  color: white;
  text-shadow: -1px 0 palevioletred, 0 1px palevioletred, 1px 0 palevioletred, 0 -1px palevioletred;
  font-size: 25px;
  margin: 15px;
}

#cardColor {
  font-family: 'Bubblegum Sans', cursive;
  color: white;
  text-shadow: -1px 0 palevioletred, 0 1px palevioletred, 1px 0 palevioletred, 0 -1px palevioletred;
  font-size: 25px;
  margin: 15px;
}

#return {
  background-color: palevioletred;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 15px;
  padding: 6px 18px;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  transition-duration: 0.4s;
}

#return:hover {
  background-color: pink;
}
/* .card {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.card-red {
  color: #c0c0c0;
  background: #f0f0f0;
  background-image: url('https://th.bing.com/th/id/R.16cb503337de97cb8a2d899380f3ae44?rik=ND9VNU%2fa0PVnow&riu=http%3a%2f%2fwww.iconsdb.com%2ficons%2fdownload%2fred%2fsquare-32.png&ehk=ZrdtkcKAHTtS1oklieq3xH94Y5C705qTTH7pcFyblPA%3d&risl=&pid=ImgRaw&r=0');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  width: 50px;
  height: 85px;
  position: relative;
  display: flex;
  align-self: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  margin: auto;
} */