.mainPage {
  background-image: url('Images/73957123-6DBF-4B31-BC3C-5BBD65A9999E_1_201_a.jpeg');
  background-size: 100% 130%;
  background-repeat: no-repeat;
}

.container {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.rulesList {
  list-style: none;
}

h1 {
  text-align: center;
}

#game-board {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px;
  justify-content: center;
}

.space {
  background-color: #d9d9d9;
  border: 2px solid black;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.playerOne {
  width: 55px;
  height: 55px;
  background-image: url('./candy-land-piece-1.png');
  background-size: contain;
  position: relative;
  margin: 2px;
}

.playerTwo {
  width: 45px;
  height: 45px;
  background-image: url('https://www.pinclipart.com/picdir/big/569-5697512_peppermint-candy-png-clipart.png');
  background-size: contain;
  position: relative;
  margin: 5px;
}

.funtions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}