.mainPage {
  background-size: 100% 75%;
  background-repeat: no-repeat;
}

.container {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.rulesList {
  list-style: none;
}

h1 {
  text-align: center;
}

#game-board {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px;
  justify-content: center;
}



.space {
  background-color: #d9d9d9;
  border: 2px solid black;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.playerOne {
  width: 25px;
  height: 25px;
  background-image: url('https://th.bing.com/th/id/R.ab8eecda44bea9e58a8093e11afeb07e?rik=FljVqNgtilBvmg&riu=http%3a%2f%2fcliparts.co%2fcliparts%2f6iy%2fo45%2f6iyo454nT.png&ehk=Zsb7rc6Z78Dl60XB9QF98DuwJKhK0NE%2byXut%2f9ec8lY%3d&risl=&pid=ImgRaw&r=0');
  position: relative;
}

.playerTwo {
  width: 25px;
  height: 25px;
  background-color: white;
  position: relative;
}